{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django Project</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'create' %}">Create Contact </a></li>
                <li><a href="{% url 'edit_delete' %}">Edit_Delete </a></li><br><br>
                <li>
                    <form method="GET" action="{% url 'search' %}">
                        <input type="text" name="first_name" placeholder="Search by First Name">
                        <input type="email" name="email" placeholder="Search by Email">
                        <button type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>
